/* container */
.bannerMain {
  background-color: rgb(247, 249, 250);
  padding-top: 4%;
}

/* Dog */
.sectionDog {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  padding: 2rem;
}
.esfera {
  display: flex;
  justify-content: center;
  width: 80%;
  align-content: center;
  clip-path: polygon(
    50% 0%,
    83% 12%,
    100% 43%,
    94% 78%,
    68% 100%,
    32% 100%,
    6% 78%,
    0% 43%,
    17% 12%
  );

  border-radius: 30%;
  background: rgb(129, 204, 176);
}

/* paragraph */

.sectionTxt {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.sectionTxtMain {
  font-family: "Volkhov";
  font-weight: 700;
  line-height: 1.5;
  font-size: 50px;
  color: "#222222";
}

.textContainerPdos {
  width: 85%;
}

.customButton {
  display: flex;
  align-content: space-between;
}

@media screen and (max-width: 1000px) {
  .sectionDog {
    order: 2;
  }
  .sectionTxt {
    order: 1;
  }
}
@media screen and (max-width: 980px) {
  .bannerMain {
    padding-top: 2rem;
    height: 80vh !important;
    flex-direction: column !important;
    width: 100vw;
  }
  .sectionTxt {
    max-height: 75%;
    margin: auto;
    justify-items: center;
    align-items: flex-end;

    max-width: 75%;
  }
  .sectionTxtMain {
    margin-top: 0.5em;
    font-size: 45px;
    max-width: 90%;
    height: 60%;
    color: "#222222";
    line-height: 1.1;
  }

  .sectionDog {
    height: 70%;
    align-self: start;
  }

  .esfera {
    height: 50% !important;
    max-width: 50% !important;
  }

  .textContainerPdos {
    margin-top: 2%;
    align-self: center;
    max-width: 90%;
  }

  .customButton {
    padding: 0rem 10%;
    align-self: start;
  }
}

@media screen and (max-width: 520px) {
  .sectionTxtMain {
    font-size: 35px;
    max-width: 95%;
  }
  .sectionDog {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .sectionTxtMain {
    font-size: 25px;
  }
}
